body{
    background: url(fondo.jpg);
    color: #fff;
}
.navbar-brand{    
    margin: 15px !important;
    padding: 13px !important;
    font-size: 2em !important;
    font-weight: bold !Important;
    }
    
.navbar-toggle{margin-top:20px !important;}
.dropdown-menu{background:#fff !important;}
.navbar-login
{
    margin: 10px;
}

.dropdown-menu .nav-item .nav-link{
    color: #212529 !important;
}

.dropdown-menu .nav-item .nav-link:hover{
    color: #2c7ecf !important;
}

.bg-dark {
    background: transparent !important;
}

.icon-size
{
    font-size: 87px;
}

h1{
    text-align: center;
}

.blogShort{
    border: solid rgb(131, 125, 125) 1px;
    margin: 5px;
    border-radius: 10px;
}

.picture{
    float: left !important;
    height: 100px;
    padding: 10px;
}

.div_btn-end{
    text-align: end;
    margin: 12px;
}

.flotar{
    float: left;
    border: solid #fff 1px;
    border-radius: 10px;
    height: 430px;
}
.elementos-home-blog{
    height: 100px;
    padding: 5px;
}